<section class="noblur">
		<section class="headline"></section> 
	</section> 
	

	<section class="blur headline">
		<section class="contact-text">

			<h1>Find me.</h1>
			<h2>Say Hello.</h2>
		    <p><a href="mailto:hello@lailazaki.com" target="_blank">hello@lailazaki.com</a></p>
			<h2>Facebooking is fun.</h2>
		    <p><a href="http://facebook.com/developerlaila" target="_blank">fb/developerlaila</a></p>
			<h2>Instagramer</h2>
		    <p><a href="http://instagram.com/noselfiecontrol_" target="_blank">@noselfiecontrol_</a></p>
			<h2>I sometimes tweet.</h2>
		    <p><a href="http://twitter.com/developerlaila" target="_blank">@developerlaila</a></p>
		</section>
	</section> 
