<section class="name">
			<section class="bg"></section> 
	</section> 

	<div class="break"></div>

	<section class="about">
		<section class="bg-about">
		<section class="about-header"></section>	
			<p>Hi! My name is Laila Zaki. I am a developing front-end developer masquerading as an accountant. I love to experiment with HTML5, CSS3, jQuery, Javascript, Ruby on Rails, and Adobe Photoshop and Illustrator. Creating fun projects through CSS Animations is something I love to do in my spare time. I love to code, but I am not so great with design. I began this project thinking that I had a cool idea in mind, but the execution was not all that I was hoping. I am still working on improving my design skills! Two of the 4 projects below were done in previous schooling, but to be honest I probably could no recreate them now just from memory. Thank god for Google!</p>
		</section> 
	</section>
 	
	<div class="break"></div>

	<section class="skills">
		<section class="bg-skills">
 			<a href='http://interpreter-william-32730.bitballoon.com/skills/byebyebye' target="_blank"><div class="site one">ByeByeBye</div></a>
			

			<a href='/skills-mario' target="_blank" ><div class="site two">Mario World</div></a>
			
			<a href='http://interpreter-william-32730.bitballoon.com/skills/desert' target="_blank"><div class="site three">Desert</div></a>
			
			<a href='/bill' target="_blank"><div class="site four">Tip Calculator</div></a>
			
		</section> 
	</section>			

	<div class="break"></div>



	<section class="noblur">
		<section class="headline"></section> 
	</section> 
	

	<section class="blur headline">

		<section class="contact-text">
			<div class="new">You should totally click <a class="newish" href="/contact">HERE</a> to see this exact page on another page! </div>

			<h1>Find me.</h1>
			<h2>Say Hello.</h2>
		    <p><a href="mailto:hello@lailazaki.com" target="_blank">hello@lailazaki.com</a></p>
			<h2>Facebooking is fun.</h2>
		    <p><a href="http://facebook.com/developerlaila" target="_blank">fb/developerlaila</a></p>
			<h2>Instagramer</h2>
		    <p><a href="http://instagram.com/noselfiecontrol_" target="_blank">@noselfiecontrol_</a></p>
			<h2>I sometimes tweet.</h2>
		    <p><a href="http://twitter.com/developerlaila" target="_blank">@developerlaila</a></p>
		</section>
	</section> 

