<header>
  <h1>MARIO WORLD</h1>
  <h2>w = Jump</h2>
  <h2>space = Jump</h2> 
  <h2>a = Move Left</h2> 
  <h2>d = Move Right</h2>   
</header>
<div id="marioDiv">
  <img src="img/mario.png" id="mario">
</div>
